* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

#nav li a,
#header #search {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#header #search {
    color: #fff;
    float: right;
}

#header #menu {
    display: none;
}

#header .search-arrow-down {
    font-size: 14px;
}

#header #search:hover {
    background-color: #f44336;
}

#header #nav {
    display: inline-block;
}

#nav>li:hover>a,
#nav .sub-nav li:hover {
    color: #000;
    background-color: #ccc;
}

#nav li#merch {
    display: none;
}

#nav li:hover .sub-nav {
    display: block;
}

#nav .sub-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

#nav .sub-nav a {
    color: black;
    padding: 0 16px;
    line-height: 38px;
}

#nav .sub-nav li {
    min-width: 160px;
}

.nav-arrow-down {
    font-size: 12px;
}

#slider {
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-image: url("./../images/slider/chicago.jpg");
    margin-top: 46px;
    padding-top: 50%;
}

#slider .title {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    padding-bottom: 32px;
}

#slider .title h4 {
    margin: 10px 0;
}

#slider .title .about {
    margin: 15px 0;
}

#content .about-container {
    background-color: #fff;
}

#content #about,
#content #tour,
#content .contact {
    width: 800px;
    max-width: 100%;
    padding: 64px 24px;
    margin: auto;
    text-align: center;
}

#content #about h2 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 10px 0;
}

#content #about .slogan {
    font-style: italic;
    color: gray;
}

#content #about .description {
    margin: 15px 0;
    text-align: justify;
    line-height: 1.5;
}

#content #about .info-container {
    padding: 32px 0;
}

#content #about .info-member {
    width: calc(100% / 3);
    float: left;
}

#content .info-member p {
    margin: 15px 0;
}

#content .info-member img {
    width: 60%;
    margin-bottom: 16px;
}

#content .tour-container {
    background-color: #000;
}

.tour-container #tour h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 10px 0;
    color: #fff;
}

.tour-container #tour i {
    font-size: 15px;
    color: gray;
    line-height: 1.5;
}

.tour-container #tour .info-tour {
    background-color: #fff;
    margin-top: 35px;
}

.tour-container #tour .detail {
    padding: 8px 16px;
    text-align: left;
    color: grey;
    line-height: 1.5;
    border-bottom: 1px solid #ddd;
}

.tour-container #tour .detail:last-child {
    border-bottom: none;
}

.info-tour .detail span {
    display: inline-block;
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 0 8px;
}

.info-tour .detail .date-tour {
    display: inline-block;
    background-color: #000;
    border-radius: 50%;
    float: right;
    margin-right: 16px;
}

.tour-container #tour .buy-ticket {
    padding: 32px 16px;
    margin: 0 -24px;
}

#tour .buy-ticket .ticket {
    width: calc(100% / 3);
    float: left;
    padding: 0 8px;
    margin-bottom: 16px;
    text-align: left;
}

.buy-ticket .ticket img {
    margin-bottom: -4px;
    width: 100%;
}

.buy-ticket .ticket img:hover {
    opacity: 0.6;
}

.buy-ticket .ticket p {
    background-color: #fff;
    padding-bottom: 15px;
    padding-left: 16px;
    padding-right: 16px;
}

.buy-ticket .ticket p:nth-child(2) {
    font-weight: bold;
    padding-top: 15px;
}

.buy-ticket .ticket p:nth-child(3) {
    color: grey;
}

.buy-ticket .ticket p:nth-child(4) {
    line-height: 1.5;
    font-size: 15px;
}

.buy-ticket .ticket button {
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    border: none;
}

.buy-ticket .ticket button:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

#content #contact-container {
    background-color: #fff;
}

#contact-container .contact h2 {
    margin: 10px 0;
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#contact-container .contact p {
    margin: 15px 0;
    font-style: italic;
    color: grey;
}

#contact-container .contact .form-info {
    padding: 32px 0;
}

.contact .form-info .label {
    float: left;
    width: 50%;
    text-align: left;
    margin-bottom: 16px;
    font-size: 18px;
}

.form-info .label .icon-label {
    width: 30px;
    display: inline-block;
    line-height: 18px;
}

.contact .form-info .form {
    float: left;
    width: 50%;
}

.form-info .form input {
    padding: 8px;
    margin: 0 8px;
    display: block;
    border: 1px solid #ccc;
    width: calc(100% - 16px);
    font-size: 18px;
}

.form-info .form div {
    margin-bottom: 50px;
}

.form-info .form div input {
    float: left;
    width: calc(50% - 16px);

}

.form-info .form input[type="submit"] {
    padding: 8px 16px;
    color: #fff;
    background-color: #000;
    margin: 16px 0;
    float: right;
    text-transform: uppercase;
    width: min-content;
    margin-right: 8px;
}

.form-info .form input[type="submit"]:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

#banner {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-image: url("./../images/banner/map.jpg");
    padding-top: 50%;
    filter: grayscale(50%);
}

#footer .share {
    padding: 64px 8px;
    text-align: center;
}

#footer .share i {
    opacity: 0.6;
    font-size: inherit;
    font-size: 22px;
}

#footer .share i:hover {
    opacity: 0.4;
}

#footer .share p {
    margin: 15px 0;
    opacity: 0.6;
}

/* RESPOSIVE */
/* PC >= 1024px */
@media (min-width: 1024px) {}

/* TABLET >=740 , < 1024px */
@media (min-width: 740px) and (max-width: 1023px) {}

/* MOBIE < 740px */
@media (max-width: 739px) {
    #header #search {
        display: none;
    }

    #nav li:not(#nav li:first-child, #nav li:last-child) {
        display: block;
    }

    #nav li:last-child {
        display: none;
    }

    #header #nav {
        background-color: #000;
        width: 100%;
    }

    #nav>li>a {
        text-align: left;
    }

    #header #menu {
        position: absolute;
        z-index: 2000;
        top: 0;
        right: 0;
        display: block;
        line-height: 46px;
        padding: 0 24px;
        color: #fff;
    }

    #header #menu:hover {
        color: #000;
        background-color: #ccc;
        cursor: pointer;
    }

    .nav-hidden {
        overflow: hidden;
    }

    .contact .form-info .label,
    .contact .form-info .form,
    .form-info .form div input,
    #content #about .info-member,
    #tour .buy-ticket .ticket {
        float: none;
        width: 100%;
    }

    .form-info .form input {
        width: 100%;
        margin: 0;
    }

    .form-info .form div {
        margin-bottom: 8px;
    }

    .form-info .form div input+input {
        margin-top: 8px;
    }

    .form-info .form input[type="submit"] {
        margin-right: 0;
    }
}